#main-container{
background-color: blueviolet;
text-align: ;
}
#side-content{
    display: flex;
    background-color: beige;
    grid-template-rows:100px 100px 100px 100px;
    gap: 5px;
}
#photo-container{
    display: grid;
    width:70%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));


}

